

body {
  background-color: white;
  color: #282626;
  font-family: Helvetica, Arial, sans-serif; /*AvenirNext-Medium proxima-nova,Helvetica,Arial,sans-serif*/
  margin: 0;
}

h1 {
  background-color: #282626;
  color: #eb005a;
  font-size: 42px;
  padding: 50px;
  text-align: center;
  background-image: url(/static/img/common-large.svg);
  background-position: 50px center;
  background-repeat: no-repeat;
}

h2 {
  font-size: 32px;
  margin-top: 2em;
}

b {
  font-weight: bold;
}

p {
  margin: 1em 0;
}

ul {
  margin: 50px;
}
